@import '../scss/variables.scss';

.footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-secondary;
    margin: $footer-margin-top $footer-margin-lr $footer-margin-bottom;

    .disclaimer {

        text-align: center;
        transition: color 0.25s linear;
        cursor: pointer;

        &:hover{
            color: white;
        }

        i {
            color: red;
            margin: 0 0.5rem;
        }

    }

    .quoteContainer {

        display: flex;
        flex-direction: column;
        border-left: 0.25rem solid $color-secondary;
        padding-left: 0.75rem;       
        margin: 1.5rem 1rem 0; 
        color: white;
        font-family: "Courier New", Courier, monospace;
        cursor: pointer;
        max-width: $max-width;

        .quote {
            margin: 0.5rem 0;           
        }

        .author {
            align-self: flex-end;
            margin-bottom: 0.25rem;
            font-size: 0.75rem;
            font-weight: bold;
        }

    }

    .version {
        align-self: flex-end;
        font-size: 0.75rem;        
    }

}