@import '../scss/variables.scss';

.header {
    
    color: $color-terciary;
    margin: 0 1rem;

    .title {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;

        img {
            height: 6rem;
            border-radius: 50%;
            border: 2px solid white;
        }

        span {

            font-size: 1.5rem;
            text-transform: uppercase;
            margin-top: 0.5rem;
            font-weight: bold;
            font-family: MatterMedium, Matter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
            
            background: linear-gradient(to right, $color-terciary 25%, white 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            i {
                margin: 0 0.4rem;
            }
            
            @media (min-width: 320px) and (max-width: 480px) {
                font-size: 1.20rem;
            }

        }

    }

    .mainRow {

        display: flex;
        justify-content: space-between;
        height: 3.5rem;

        @media (min-width: 320px) and (max-width: 480px) { 
            flex-direction: column;
            align-items: center;
            height: auto;
        }        

        i {
            color: white;
        }
        
        .links {

            display: flex;
            align-items: center;

            @media (min-width: 320px) and (max-width: 480px) {
                order: 2;
            }
            
            a {

                margin-right: 1rem;
                color: $color-terciary;
                transition: color 0.25s linear;

                @media (min-width: 320px) and (max-width: 480px) { 
                    margin: 0.5rem;
                }

                span {
                    @media (max-width: 768px) {                       
                        display: none;                        
                    }
                }

                i {

                    margin-right: 0.2rem;

                    @media (max-width: 768px) {                       
                            
                        transition: color 0.25s linear;
        
                        &:hover {
                            color: $color-terciary;
                        }                      
                    }

                }

                &:hover{
                    color: white;
                }

                &.largeLink {

                    span {
                        @media (min-width: 768px) and (max-width: 1024px) {                       
                            display: none;                        
                        }
                    }

                    i {
                        @media (min-width: 768px) and (max-width: 1024px) {                       
    
                            transition: color 0.25s linear;
        
                            &:hover {
                                color: $color-terciary;
                            }
        
                        }
                    }
                    
                }

            }

        }

        .settings {

            display: flex;
            align-items: center;

            @media (min-width: 320px) and (max-width: 480px) { 
                flex-direction: column;
                order: 1;
                margin-top: 1rem;
            }

            .user {

                display: flex;
                align-items: center;

                input {
                    width: 7rem;
                    height: 2.25rem;
                    font-size: 0.75rem;
                    color: $color-terciary;
                    background-color: $color-primary;
                    border-radius: 0.33rem;
                    border: 0.125rem solid $color-terciary;
                    padding: 0 0.5rem;
                }

                span {
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.75rem; 
                    height: 1.25rem;
                    min-width: 3.5rem;
                    background-color: $color-primary;
                    border-radius: 0.33rem;
                    border: 0.125rem solid $color-terciary;
                    padding: 0.5rem;    
                    margin: 0 0.25rem;                         
                    cursor: pointer; 
                    transition: all 0.25s linear;

                    &:hover {
                        border: 2px solid white;
                        color: white;
                    }

                }

                img {

                    background-color: $color-primary;
                    height: 2.5rem;
                    border-radius: 50%;
                    transition: background-color 0.25s linear;

                    &:hover {
                        background-color: $color-terciary;
                    }

                    &.active {
                        background-color: $color-terciary; 
                    }

                }                

            }  

            .lang {
                
                margin-left: 0.75rem;

                @media (min-width: 320px) and (max-width: 480px) {
                    margin: 0.5rem 0.25rem;
                    order: 1;
                }

                span {
                    
                    margin-left: 0.5rem;
                    text-transform: uppercase;

                    @media (min-width: 320px) and (max-width: 480px) { 
                        margin: 0.25rem;
                    }

                }

                .disabled {
                    
                    color: $color-primary;
                    transition: color 0.25s linear;
                    
                    &:hover {
                        cursor: pointer;
                        color: white;
                    }

                }

            }

        }

    }

}