@import '../scss/variables.scss';

.info {

    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    max-width: $max-width;
    margin: $info-margin-top $info-margin-lr $info-margin-bottom;

    @media (min-width: 320px) and (max-width: 480px) {
        margin: 0;
    }

    .name {

        text-align: left;
        font-size: 2rem;
        line-height: 2.5rem;
        text-transform: uppercase;
        margin: $info-name-margin-top $info-name-margin-lr $info-name-margin-bottom;
        font-weight: bold;
        font-family: MatterMedium, Matter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
        background: linear-gradient(to right, $color-primary 0%, $color-secondary 50%, $color-primary 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 769px) {                       
            text-align: center;
        }

        @media (min-width: 320px) and (max-width: 480px) {
            font-size: 1.5rem;
        }

    }

    .container {

        display: flex;
        margin: $info-container-margin-tb $info-container-margin-lr;

        @media (max-width: 769px) {      
            margin: $info-container-margin-top-xs $info-container-margin-lr-xs $info-container-margin-bottom-xs;                 
            flex-direction: column;
        }
    
        .textInfo {

            display: flex;
            flex-direction: column;
            width: 50%;

            @media (max-width: 769px) {                       
                width: 100%;
                order: 2;
            }

            span {
                margin-top: $info-span-margin-top;
                text-align: justify;
                line-height: 1.75em;
            }            

        }

        .title {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;

            @media (max-width: 769px) {                       
                width: 100%;
            }

            @media (min-width: 769px) {                       
                position: relative;
                bottom: 3rem; 
            }

            img {

                height: 12rem;
                border-radius: 50%;
                border: 2px solid $color-terciary;
                margin-bottom: 1rem;

                @media (min-width: 320px) and (max-width: 480px) {
                    height: 9rem;
                }

            }         

            .job {

                text-align: center;
                width: 50%;
                color: $color-secondary;

                @media (max-width: 769px) {                       
                    margin-bottom: 1.5rem;
                    width: 75%;
                }

            }      

        }
    
    }

}