@import '../scss/variables.scss';

.main {

    display: flex;
    flex-direction: column;
    background-color: $background-color;
    margin: $main-margin-tb $main-margin-lr;

    @media (max-width: 769px) {      
        margin: $main-margin-xs;                 
    }

    .page { 

        display: flex;
        justify-content: center;
        margin: $page-margin-top $page-margin-lr $page-margin-bottom;

        @media (max-width: 769px) {      
            margin: $page-margin-top-xs $page-margin-lr-xs $page-margin-bottom-xs;                 
        }

        .pageContainer {            

            display: flex;
            flex-direction: column;
            max-width: $page-max-width;                

            .job {
                font-size: 1.35rem;
                font-weight: bold;
                color: $color-secondary;
                text-align: center;
                text-shadow: 0 0 1px $color-primary;
            }

            span {
                margin: $page-span-margin-top $page-span-margin-lr $page-span-margin-bottom;
                text-align: justify;
            }

            ul {

                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 0;
                margin: 0;

                li {
                    font-size: 1.25rem;
                    border: 2px dotted $color-secondary;
                    border-radius: 1rem;
                    padding: 1.25rem;
                    margin: 0 0.25rem 0.5rem;
                    color: $color-primary;
                    text-align: center;
                }

            }      

            .personal {
        
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;                
            
                i {
                    margin-top: 1rem;
                    font-size: 5rem;                    
                    cursor: pointer;
                }

                a {
                    color: $color-secondary;
                    transition: all 0.25s ease;
                    &:hover {
                        color: $color-terciary;
                    } 
                }                 

                a::after {
                    display: none;
                }
            
            }
            
            .nero {

                display: flex;
                flex-direction: column;
            
                span {
                    text-align: center;
                    margin-bottom: 1rem;
                }
            
                img {
                    align-self: center;
                    width: 75%;
                    border: 5px solid $color-terciary;
                    border-radius: 1rem;
                }
                
            }

        }

    }    

}

