@import '../scss/variables.scss';

.nav {

    display: flex;
    justify-content: center;

    @media (max-width: 768px) {                       
        flex-direction: column;
        align-items: center;
    }

    a {

        margin: $nav-margin-a-tb $nav-margin-a-lr;
        color: $color-secondary;
        font-weight: bold;
        font-size: 1.75rem;
        text-transform: uppercase;
        transition: all 0.25s linear;
        text-shadow: 1px 1px 2px $color-primary;

        &:hover {
            color: $color-terciary;
        }

        &.active {
            color: $color-primary;
        }

        &::after {
            bottom: -9px;
        }

    }

}