$font-stack: "MatterMedium", "Matter", "GTAmerica", "Roboto", monospace, sans-serif;

$color-primary: #fff;
$color-secondary: #a9adc1;
$color-terciary: #2e3039;
$background-color: #1f2028;

$max-width: 1536px;

$header-margin: 3rem;
$header-margin-xs: 1rem;
$header-height: 3.5rem;
$header-user-margin-xs: 0.5rem;

$main-margin-tb: 0;
$main-margin-lr: 3rem;
$main-margin-xs: 0;

$info-margin-top: 0;
$info-margin-bottom: 1.5rem;
$info-margin-lr: 0;
$info-name-margin-top: 0rem;
$info-name-margin-lr: 3rem;
$info-name-margin-bottom: 0.5rem;
$info-container-margin-tb: 0;
$info-container-margin-lr: 3rem;
$info-container-margin-top-xs: 0.5rem;
$info-container-margin-bottom-xs: 1.5rem;
$info-container-margin-lr-xs: 3rem;
$info-span-margin-top: 1.25rem;

$nav-margin-a-tb: 0.5rem;
$nav-margin-a-lr: 0.35rem;

$page-margin-top: 1.5rem;
$page-margin-bottom: 0;
$page-margin-lr: 3rem;
$page-margin-top-xs: 1.5rem;
$page-margin-bottom-xs: 0;
$page-margin-lr-xs: 3rem;
$page-max-width: 800px;
$page-span-margin-top: 1rem;
$page-span-margin-bottom: 0;
$page-span-margin-lr: 0;

$footer-margin-top: 3rem;
$footer-margin-bottom: 1.5rem;
$footer-margin-lr: 3rem;