$font-stack: "MatterMedium", "Matter", "GTAmerica", "Roboto", monospace, sans-serif;

$color-primary: #fff;
$color-secondary: #a9adc1;
$color-terciary: #2e3039;
$background-color: #1f2028;

$max-width: 1536px;